# Assessment Test

### This is the assessment test of our first part of the course.

Here we are going to check your capabilities on managing and using the basic programming concepts we have studied so far:

 * Objects and Data Structure
 * Comparison Operators
 * Statements
 * Method and Functions

## Objects and Data Structures

1. Use the string below:
 * Print the first letter of the string.
 * Print the @
 * Print the sequence "fuerteventura"
 * Split the string on @

In [2]:
my_string = "fuerteventura@2019"

In [9]:
print(my_string[0]);
print(my_string[-5]);
for i in my_string:
    print(i,end = '')
print(my_string.split('@'))

f
@
fuerteventura@2019['fuerteventura', '2019']

2. Use the list below:
 * Print the second element of the list
 * Print the last element of the list
 * Print the sequence from the 4th to the 5th element
 * Print the second element of the sublist
 * Append the word "Python"
 * Pop out the sublist

3. Use the dictionary below:
 * Print all the keys
 * Print all the values
 * Print all the items
 * Print the value of "motorbike"
 * Print the value of "dog"
 * Calculate the differnce between the value of "bike" and the value of "cat"

In [10]:
myDict= {'car': 100, 'bike':200, 'motorbike':300, 'pets':{'dog':100, 'cat':50, 'rabbit':200}}

In [24]:
myDict.keys();
myDict.values();
myDict.items();
myDict.get('motorbike');
myDict.get('dog');
myDict.get('bike') - myDict.get('pets').get('cat')

150

4. Use the tuple below:
 * Print the third element of the tuple
 * Get the index of number 12
 * Count how many times 30 is inside the tuple

In [26]:
t = (80, 30, 30, 12, 80, 40)

In [31]:
t[2];
t.index(12);
t.count(30);

2

5. In this directory there is a file named "Assessment.txt". Use the **with** method and:
 * Open the .txt file and read what's is written inside
 * Open again the "Assessment.txt" file and write inside your name. Hint: use the "append" argumnet
 * Write a new file and call it "Assessment2.txt", write inside somenthing you like.

In [38]:
with open('Assessment.txt', mode = 'r')  as f:
    Content = f.read()
    print(Content)

testtest

In [37]:
with open ('Assessment.txt', mode = 'a') as w:
    w.write('test')

## Booleans

In [ ]:
# Answer before running cell
2 > 3

In [ ]:
# Answer before running cell
3 <= 2

In [ ]:
# Answer before running cell
3 == 2.0

In [40]:
# Answer before running cell
3.0 == 3

In [ ]:
# Answer before running cell
4**0.5 != 2

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

## Comparison Operators

In [ ]:
# answer before you run the code
12<5 and 6<2

In [ ]:
# answer before you run the code
3 < 8 < 9

In [ ]:
# answer before you run the code
3<9 and 12<30

In [41]:
# answer before you run the code 
8>2 and 4>10

In [43]:
# answer before you run the code 
3<4 and 'hello' == 'hellos'

## Statements

6. Use the code belowe and print out if the number generated is >1, <1 or -1<number<1

In [39]:
import numpy as np
number = np.random.randn()
number

# Insert here your if, elif, else statement

-0.005913780332965597

## for Loop

7. Use the list below and loop over it with the **for** method:
 * Print only the odds numbers
 * Print only the even numbers
 * Print the sum of all the numbers
 * Print only the unique numbers

In [ ]:
lst = [3,5,68,3,4,19,18,5,4]

8. Use the dictionary below and print only the values:

In [44]:
myDict= {'car': 100, 'bike':200, 'motorbike':300, 'pets':{'dog':100, 'cat':50, 'rabbit':200}}

## while Loop

9. Write a simple while loop that prints all numbers from 10 to 20. The loop must stop when the condition == 20. When you print out the results try to use "string formatting".

10. Write a while loop that prints out all odd numbers from 30 to 50. Save all the even numbers into a list, print the list at the end.

11. Write a while loop that goes from 15 to 25. Print out every number, if a number is multiple of 12 break the loop, otherwise continue.

## List Comprehension

12. Use the list comprehension method and write a list from the word "Maradona"

In [41]:
z = [i for i in 'Maradona']

## Functions

13. Write a function that computes the volume of a sphere given its radius.
 * radius = 2.5 cm

In [44]:
def fun(r):
    return r^3 /4 * pi

14. Write a function that takes in input a list and return only the even numbers

In [46]:
def even(*l):
    z = []
    for i in l:
        if i % 2 == 0:
            z.appen(i)
    return z

In [ ]:
eve(1,2,3,4)

15. Write a function that checks whether a number is in a given range (Inclusive of high and low)
 * E.g: *myfunc(number, lower, higher)*

16. Write a fuction that check if a given number is prime.

## Congratulation!

### You have compleated the Assessment Test, now it's time to move on the other session on the course: Numpy,Pandas and Visualization