# Working with DataFrames Part3

## Cross Tabulation Exercise

Use the following Dataframe

In [3]:
# Imports
import pandas as pd

# df creation
df = pd.DataFrame({'sample':[1,2,3,4,5,6],
                    'pet':['cat', 'cat','dog','cat','dog','cat'],
                    'diagnosis':['sick','healthy','healthy','sick','sick','sick']})

In [4]:
# Show
df

  diagnosis  pet  sample
0      sick  cat       1
1   healthy  cat       2
2   healthy  dog       3
3      sick  cat       4
4      sick  dog       5
5      sick  cat       6

### Cross-Tabulation
1. Use the crosstab() method, create a frequency table where you calculate the number of pets "sick" and "healthy", report the total amount.

In [7]:
# crosstab(index, columns, margins=False, margins_name='All')

### Nice Job!