# Intro to Pandas

## Rename Index and Columns Exercises

1. Import Pandas and Numpy

In [1]:
# Basic imports

#### Use the following DF

In [2]:
# set the data
npdata = np.random.randn(16).reshape(4,4)

# Create the DF
df = DataFrame(data= npdata, index = ['A', 'B', 'C', 'D'], columns= ['Col1', 'Col2', 'Col3', 'Col4'])

# Show
df

       Col1      Col2      Col3      Col4
A  2.527376  1.116419 -0.113321 -0.288801
B  0.066154 -0.108649  1.090667 -0.968833
C  1.469846 -0.008187  1.543265 -0.821212
D -0.067845 -0.446895 -0.080841 -0.915994

## The .rename() method

1. Put all the rows indexes lower case

In [3]:
# Rows lower

2. Put all the columns name upper case

In [4]:
# Columns upper

### Rename using mapping

3. Rename all the rows with the following names ('alfa', 'beta', 'gamma', 'teta')

In [5]:
# Rename index

4. Rename 'Col1' to 'A1' and 'Col4' to 'D4'

In [6]:
# Rename columns

5. Rename again all the columns of the df using the following list.

In [ ]:
new_cols = ['ab','bc','cd','df']

In [7]:
# Rename again df

# Good Job!