# Intro to Pandas

## Missing Data Exercises

1. Import pandas and numpy

In [1]:
# Basic Imports

### Missing Data on DataFrame

#### work on the following dataframe

In [34]:
# 
mydf = DataFrame(data = [[1,2,3,4,5],
                         [np.nan,7,8,9],
                         [np.nan,11,12,13,13],
                         [14,15, 16, np.nan, np.nan],
                         [np.nan,np.nan,np.nan,np.nan]],
                 
                         columns=list('ABCDE'), dtype='float')

In [35]:
#Show
mydf

      A     B     C     D     E
0   1.0   2.0   3.0   4.0   5.0
1   NaN   7.0   8.0   9.0   NaN
2   NaN  11.0  12.0  13.0  13.0
3  14.0  15.0  16.0   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN

2. Drop all rows containing at least one NaN values

In [8]:
# drop rows

In [44]:
#Show df

3. Drop the rows containing all NaN values

In [43]:
# drop rows containing all NaN

4. Drop all the columns containing at list one NaN value

In [42]:
# Specify the axis

5. Drop all rows that have less than 3 data points

In [36]:
# Dropping any rows

6. Drop columns that have less than 4 data points.

In [41]:
# Dropping any columns

7. Fill all NaN values with the value 4

In [40]:
# fill single value

8. Fill the NaN values of the columns with the following values:

 * A = 10
 * B = 20
 * E = 50

In [39]:
# fill different columns with different values

9. Fill the NaN values of the columns using the 'ffill' method.

In [38]:
# ffill method

10. Fill the NaN of the columns with the mean of the column values

In [37]:
# fill with the mean

# Nice Work!

#### Next we'll learn about Index Hierarchy