# Intro to Pandas

## Json file to DataFrame

In [9]:
import pandas as pd

Reading from json file

In [10]:
myJDF = pd.read_json("../Data/json_object.json")
myJDF

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

Writing to CSV

myJDF.to_csv("../Data/json_obj.csv")

#### Working with json string

In [11]:
import json

In [12]:
# Heres an example of what a JSON (JavaScript Object Notation) looks like:
json_string = """

{   "animal": ["Lion", "Tiger", "Rinos"],
    "food": ["Meat", "Veggies", "Honey"],
    "age": [20, 33, 12]
    
}
"""

In [13]:
data = json.loads(json_string)
data

{'animal': ['Lion', 'Tiger', 'Rinos'],
 'food': ['Meat', 'Veggies', 'Honey'],
 'age': [20, 33, 12]}

In [14]:
pd.DataFrame(data)

  animal     food  age
0   Lion     Meat   20
1  Tiger  Veggies   33
2  Rinos    Honey   12