# Working with DataFrames Part2

## Rename Index Exercises

1. Do the basic imports

In [36]:
# Imports

#### Use the following dataframe

In [37]:
# Making a DataFrame
df= DataFrame(np.arange(16).reshape((4, 4)),
                 index=['FRANCE', 'GERMANY', 'USA', 'SPAIN'],
                 columns=['A', 'B', 'C', 'D'])

#Show
df

          A   B   C   D
FRANCE    0   1   2   3
GERMANY   4   5   6   7
USA       8   9  10  11
SPAIN    12  13  14  15

2. Use the map() method and put all the index name in lower case. Assign the changes to the index.

In [34]:
# lower index

But the original df didn't change

In [35]:
# show the original

### The rename method

3. Use rename() method, capitalize the first letter of every index and put in lower case all the column names. 

**Remember:** With the rename method we can work both on index and columns. If you would like to actually edit the data set in place, use **inplace=True**

In [33]:
# str.title will capitalize the first letter, lowercasing the columns

4. Use a dictionary, rename 'USA' with 'Italy' and the column 'A' to 'Z'.

In [32]:
# use rename with dictionaries

## Nice Work!