# Working with DataFrames Part2

## Replace Exercises

1. Do the basic imports

In [1]:
# Imports

#### Working on series

2. Create a series with the following data: ['a','b','c','e',20, 30, 40]

In [17]:
# make a Series

# Show

3. Replace the value **'e'** with **'d'** .

In [16]:
# .replace(value to be replaced, new_value)

4. Use the lists and replace the value **'a'** with **10** and **'c'** with **30**.

In [15]:
# input lists

5. Use a dictionary and replace **a** with **100**, **b** with **200** and **c** with **300**.

In [14]:
# input dictionary

### Replace on DataFrame

#### Use the following dataframe

In [11]:
# df creation
df = DataFrame({'Cars':['Nissan Trail','Toyota Yaris','Porche 911'],
                'Displ':[2500, 1200, 4000]})

#Show
df

           Cars  Displ
0  Nissan Trail   2500
1  Toyota Yaris   1200
2    Porche 911   4000

6. Select the column 'Cars' and change (in-place) the value 'Nissan Trail' with 'Ferrari F40'.

In [13]:
# Select the column where we want to replace the value

7. Select the column 'Displ' and change the value 2500 with 4000

In [12]:
# Selecting the column of the data frame

# Nice Work!