# Working on DataFrames Part2

## Concatenate Exercises

In [1]:
#For more info in documentation:
import webbrowser
url='http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html'
webbrowser.open(url)

True

1. Do the basic imports

In [1]:
# Now we'll learn about concatenating along an axis

### Work on numpy arrays

2. Create a numpy array 5x5 and save it into a variable

In [28]:
# Create the array

In [27]:
# Show array

3. Concatenate your array on axis 1

In [26]:
# Concatenate along axis 1

4. Concatenate your array on axis 0

In [25]:
# concatenate on axis 0

## Concatenation in pandas

5. Use the data and the indexes below and create two series, SER1 and SER2.

 * data1 = [10,20,30]
 * data2 = [40,50]
 * index1 = ['A','B','C']
 * index2 = ['X','Y']

In [6]:
# Lets create two Series with no overlap
SER1 =  Series(data = [0,1,2], index=['A','B','C'])

SER2 = Series(data = [3,4], index=['X','Y'])

6. Concatenate the two series on the axis=0

In [24]:
#Now let use concat (default is axis=0)

7. Create a new dataframe using the two series.

In [23]:
# Concat the two series

8. Create a new dataframe using the two series, this time specify only the indexes 'A' and 'Y'

In [22]:
# Specify the axis to concat

9. Create a new dataframe using the two series, this time give a name to the columns.

In [21]:
# Along the axis=1 then these Keys become column headers

## Working on DataFrames

#### Use the following dataframes

In [17]:
# Working on DataFrames

df1 = DataFrame(np.random.randn(4,3), columns=['A', 'B', 'C'])
df2 = DataFrame(np.random.randn(3, 3), columns=['A', 'B', 'X'])

In [18]:
df1

          A         B         C
0  0.685046  1.087900 -1.466800
1  0.521827 -1.650898  1.541013
2  0.656798  1.098166  1.374185
3 -0.284503  0.748862  0.414651

In [19]:
df2

          A         B         X
0 -0.807992 -0.374133 -1.621970
1 -0.272180 -2.057002 -0.029286
2 -1.381451 -0.313682  0.548438

10. Concatenate the two df's on the axis 0 and ignore the index order

In [20]:
# ignore the index

## Nice work!