# Working with DataFrames Part2

## Merge DataFrames Exercises

In [1]:
# For more info on merge parameters check out:
import webbrowser
url = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.merge.html'
webbrowser.open(url)
# Next we'll learn how to merge on Index!

True

1. Import pandas and numpy

In [1]:
# Basic Imports

#### Work on the following df's

In [20]:
# Let's make a df
df1 = DataFrame({'key':['A','C','B','C','A','A'],'data_1': np.arange(6)})

#Show
df1

  key  data_1
0   A       0
1   C       1
2   B       2
3   C       3
4   A       4
5   A       5

In [21]:
#Now lets make another dframe
# Note: there are only single instances of the keys

df2 = DataFrame({'key':['F','B','C'],'data_2':[1,2,3]})

#Show
df2

  key  data_2
0   F       1
1   B       2
2   C       3

## Merge the two DF's

#### The "many-to-one" case.

2. Merge the two dataframes

In [40]:
# Merge

3. Merge the two df's on the key column

In [39]:
# merge and specify the columns

4. Merge the df1 with the df2 on the keys of the df1

In [38]:
# Merge of dataframe keys

5. Merge the df1 and df2 on the keys of df2

In [37]:
# Choosing the right (df2) keys

6. Merge the df1 and df2 on keys using the "outer" method 

**outer:** Use union of keys from both frames, similar to a SQL full outer join

In [36]:
# The "outer" method

### The many-to-many merge 

Note that both DataFrames contain **more than one instance** of the key in **BOTH** datasets.

7. Merge the df3 and df4 and see what happen.

In [10]:
# Df's creation
df3 = DataFrame({'key': ['X', 'X', 'X', 'Y', 'Z', 'Z'],
                 'data_3': range(6)})

df4 = DataFrame({'key': ['Y', 'Y', 'X', 'X', 'Z'],
                 'data_4': range(5)})

In [35]:
#Show the merge

## Merge on index

#### Use the following dataframes

In [27]:
# Lets create two dframes
df_l = DataFrame({'key': ['X','Y','Z','X','Y'], 'data': range(5)})

df_r = DataFrame({'group_data': [10, 20]}, index=['X', 'Y'])

In [34]:
#Show df left

In [33]:
#Show df right

### Merge 

8. Merge the df_l and df_r, use the key for the left df, and the index for the right df

In [32]:
# merge on key and index

9. Merge the df_l and df_r, use the key for the left df and the index for the right df. Pass the outer parameter to the merge method.

In [31]:
# Union using outer

# Nice Work!