# Intro to Pandas

## Reindex Exercises

Import Pandas and Numpy

In [2]:
# Basic Imports

### .reindex() method

1. Create a series from range 1 to 6 and index every value with the letter from "A" to "F".

In [13]:
# Lets create a new series
ser1 = Series()

In [2]:
# print the ser1

 2. Reindex the series and adding the letters "G" and "H"

In [15]:
# Reindex the ser1
ser2 =

In [16]:
# print the ser2
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

3. Reindex the ser2 with the letter "Z" and fill it with the value 100.

In [3]:
# Reindex ser2
ser2

### Reindexing rows and columns of DF

In [7]:
# Import numpy random.randn
from numpy.random import randn
randn_data = randn(20).reshape((5,4))

#Lets make a datafram ewith some random values
df1 = DataFrame(data = randn_data, index=['A','D','E','F','G'], columns=['CL1','CL2','CL3','CL4'])

#Show
df1

        CL1       CL2       CL3       CL4
A -0.129306  0.129120 -1.028593 -0.112189
D -0.664754 -0.955892 -0.602628  1.200067
E -1.109398  0.856240  1.064129  0.369815
F -0.650949 -0.562136  0.578328 -0.383414
G  0.527986  0.070165  1.009008 -2.680329

4. Use the reindex method on df1 and add the row "B"

In [1]:
# Add row B

5. Use the reindex method on df1 and add a new column "CL5"

In [9]:
# Add new column CL5

### Rename columns

5. Use the .rename() method and rename the column of df1 to ('A1','B2','C3','D4')

In [10]:
# Rename df1 columns

# Congratulation! Exercises completed!