# Intro to Pandas

## Series

In [4]:
# basic imports
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

### Create  series

1. Create a series within a range from 1 to 10

In [5]:
#Lets create a Series 
obj = Series(data= range(1,11))

#Show
print(obj)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

2. Check the type of the series

In [6]:
# check the type
type(obj)

pandas.core.series.Series

3. Show the value inside the series
obj[0]

In [8]:
#Lets show the values
obj[:]

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

4. Show the index of the series

In [10]:
#Lets show the index
obj[:].index

RangeIndex(start=0, stop=10, step=1)

###  Series and index

5. Given the two list belove create a series with proper data and index

In [12]:
values = [10,20,30,40,50]
index = ['Rome','Madrid','Barcelona','London','Paris']

In [14]:
# Create the series 
my_series1 = Series(values, index)

#Show
my_series1

Rome         10
Madrid       20
Barcelona    30
London       40
Paris        50
dtype: int64

From now we will continue to work on the series you have created

In [16]:
# show the index
my_series1.index

Index(['Rome', 'Madrid', 'Barcelona', 'London', 'Paris'], dtype='object')

6. Grab the value of Madrid

In [17]:
# Grab the value
my_series1.values

array([10, 20, 30, 40, 50], dtype=int64)

#### Array operations

7. Check what city has the value upper than 30

In [19]:
#Check the value
my_series1[my_series1.values > 30]

London    40
Paris     50
dtype: int64

8. Check the value upper than 30 but get back a boolean series

In [13]:
# Boolean Series

#### Series as Ordered Dictionary

9. Check if 'Rome' is inside the series

In [23]:
#Check in Series
"Rome" in my_series1

True

#### Series into Python dictionary

10. Convert the series into a python dictionary

In [25]:
# The "to_dict()" method
sr_dict = my_series1.to_dict()
#Show
sr_dict

{'Rome': 10, 'Madrid': 20, 'Barcelona': 30, 'London': 40, 'Paris': 50}

11. Convert the previouse dict back to a series

In [28]:
# Back to series use the "Series" method
my_series2 = Series(sr_dict)

# Show
print(my_series2)

Rome         10
Madrid       20
Barcelona    30
London       40
Paris        50
dtype: int64

### Operation on Series

12. Run the cell below and create a new series

In [55]:
# Here we set a new index
index_2 = ['Rome','Madrid','Barcelona','London','Paris','Berlin']

my_series2 = Series(data= sr_dict, index= index_2)
my_series2

13. Check if there are **null** values inside the *my_series2*

In [31]:
# Null values
my_series2.isnull

<bound method Series.isnull of Rome         10
Madrid       20
Barcelona    30
London       40
Paris        50
dtype: int64>

14. Check **not null** values indside the *my_series2*

In [32]:
# not null valuesny
my_series2.notnull

<bound method Series.notnull of Rome         10
Madrid       20
Barcelona    30
London       40
Paris        50
dtype: int64>

15. Give a name **"Cities Life"** to the *my_series1*

In [35]:
#Series name
my_series1.name = 'Cities Life'

#Show
my_series1

Rome         10
Madrid       20
Barcelona    30
London       40
Paris        50
Name: Cities Life, dtype: int64

16. Give the name **"CITIES"** to the index of *my_series1*

In [37]:
# Name the index
my_series1.index.name = 'Cities'

#Show

my_series1

Cities
Rome         10
Madrid       20
Barcelona    30
London       40
Paris        50
Name: Cities Life, dtype: int64

# Nice Job!