# Intro to Pandas

## Series

In [2]:
# basic imports
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

### Create  series

1. Create a series within a range from 1 to 10

In [2]:
#Lets create a Series 


#Show

2. Check the type of the series

In [3]:
# check the type

3. Show the value inside the series

In [5]:
#Lets show the values

4. Show the index of the series

In [6]:
#Lets show the index

###  Series and index

5. Given the two list belove create a series with proper data and index

In [17]:
values = [10,20,30,40,50]
index = ['Rome','Madrid','Barcelona','London','Paris']

In [8]:
# Create the series 
my_series1 =

#Show
my_series1

From now we will continue to work on the series you have created

In [9]:
# show the index

6. Grab the value of Madrid

In [10]:
# Grab the value

#### Array operations

7. Check what city has the value upper than 30

In [11]:
#Check the value

8. Check the value upper than 30 but get back a boolean series

In [13]:
# Boolean Series

#### Series as Ordered Dictionary

9. Check if 'Rome' is inside the series

In [14]:
#Check in Series

#### Series into Python dictionary

10. Convert the series into a python dictionary

In [15]:
# The "to_dict()" method
sr_dict = 

#Show
sr_dict

11. Convert the previouse dict back to a series

In [16]:
# Back to series use the "Series" method
my_series1 =

# Show
my_series1 =

### Operation on Series

12. Run the cell below and create a new series

In [55]:
# Here we set a new index
index_2 = ['Rome','Madrid','Barcelona','London','Paris','Berlin']

my_series2 = Series(data= sr_dict, index= index_2)
my_series2

13. Check if there are **null** values inside the *my_series2*

In [18]:
# Null values

14. Check **not null** values indside the *my_series2*

In [19]:
# not null values

15. Give a name **"Cities Life"** to the *my_series1*

In [20]:
#Series name


#Show

16. Give the name **"CITIES"** to the index of *my_series1*

In [21]:
# Name the index


#Show

# Nice Job!