# Intro to Pandas

## Basic Statistic

1. Import the basic libraries

In [2]:
# standard Imports
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

#### From now use the following DF

In [5]:
#Let's create a dataframe to work with
array = np.array([[9,7,np.nan,5],
                  [np.nan,6,7,np.nan],
                  [5,15,np.nan,18],
                  [3,12,16,8]])

df1 = DataFrame(data = array, index=['A','B','C','D'],columns = ['Col1','Col2','Col3','Col4'])

#Show
df1

   Col1  Col2  Col3  Col4
A   9.0   7.0   NaN   5.0
B   NaN   6.0   7.0   NaN
C   5.0  15.0   NaN  18.0
D   3.0  12.0  16.0   8.0

**Remember:** Every method performe the computation on the columns (axis=0)

2. Sum all columns of the df1

In [7]:
# Sum cols

3. Sum all rows of df1

In [8]:
# Sum rows

4. Compute the mean of the columns

In [9]:
# mean

5. Find the Min and Max value on every columns

In [10]:
# Min on columns

In [ ]:
# Max on columns

In [11]:
# Min on rows

In [12]:
# Max on rows

6. Grab the index of df1 where there's the max value

In [13]:
# Index max

#### Summary Statistic

7. Use the method that gives you the summary statistic on the df1

In [14]:
# Provides summary statistics

## Unique Values, Value Counts, and Membership

#### Use the following df

In [17]:
# First we craete a sample dataframe
df = DataFrame({'Col1':['a','b','a','c','a'],
                'Col2':['x','y','x','z','a']})

df

  Col1 Col2
0    a    x
1    b    y
2    a    x
3    c    z
4    a    a

8. Find the unique values on 'Col2'

In [15]:
# Unique values on column

9. Find unique values on row 4

In [18]:
# Unique value on row

10. Count the values on 'Col2'

In [19]:
# On column

11. Count values on row 3

In [20]:
# On row

#### Membership

In [90]:
# show the df
df

  Col1 Col2
0    a    x
1    b    y
2    a    x
3    c    z
4    a    x

12. Check if the values 'b' and 'x' are inside the df.

In [22]:
# check if our values are inside the df

## Correlation 

### Analyze the correlation on the (reg_movie_ratings.csv)

13. Read the dataset

14. Compute the correlation of the target variable (revenue) with the other variables and sort them.

15. Explore the correlation by the Pairplot method from seaborn. Reshape the df if necessary.

In [ ]:
# visualization imports

In [ ]:
# plotting

## Correlation Matrix

16. Create a correlation matrix from the **reg_movie_ratings.csv**

17. Plot the correlation matrix using the heatmap method from seaborn.

# Congratulation! You have compleated the entire exercise!