# Intro to Pandas

## Select Entries on Data Frame

1. Import the basic libraries

In [1]:
# Basic import

2. Read the file "premier_league.xlsx"

In [12]:
# Read df
premier_df =

   Pos                     Team  Pld   W  D   L  GF  GA  GD  Pts
0    1         Manchester City    38  32  2   4  95  23  72   98
1    2                Liverpool   38  30  7   1  89  22  67   97
2    3                  Chelsea   38  21  9   8  63  39  24   72
3    4        Tottenham Hotspur   38  23  2  13  67  39  28   71
4    5                  Arsenal   38  21  7  10  73  51  22   70
5    6        Manchester United   38  19  9  10  65  54  11   66
6    7  Wolverhampton Wanderers   38  16  9  13  47  46   1   57
7    8                  Everton   38  15  9  14  54  46   8   54
8    9           Leicester City   38  15  7  16  51  48   3   52
9   10          West Ham United   38  15  7  16  52  55  −3   52

### The [ ] slicing method

3. Select the column 'Pts'

In [2]:
#Select by column name

4. Select the column 'Pts','D' and 'Team'

In [3]:
#Select by multiple columns

### Selecting By Position

#### The .iloc() method

5. Select the row where Team = Arsenal

In [4]:
# Select row

6. Use the .iloc() method and select rows where Team = ('Liverpool','Arsenal','Everton')

In [5]:
# Multiple rows

7. Select rows from Arsenal to the end

In [6]:
# Multiple rows

#### Rows and Columns at the same time

8. Use the .iloc() method. Select the rows = (Chelsea, Arsenal, Everton) and columns = ('Team','Pts')

In [7]:
# Columns and rows

## Selecting by index position and label 

#### The .loc() method

9. Use the .loc() method. Select the rows = (Liverpool, Chelsea, Arsenal) and columns = ('W','D','L')

In [8]:
# Rows and columns

### Boolean indexing

10. Select all rows where the column 'W' > 20

In [9]:
# Show

11. Select all raws where 'Pts' < 50

In [59]:
# show the original df
premier_df

   Pos                     Team  Pld   W  D   L  GF  GA  GD  Pts
0    1         Manchester City    38  32  2   4  95  23  72   98
1    2                Liverpool   38  30  7   1  89  22  67   97
2    3                  Chelsea   38  21  9   8  63  39  24   72
3    4        Tottenham Hotspur   38  23  2  13  67  39  28   71
4    5                  Arsenal   38  21  7  10  73  51  22   70
5    6        Manchester United   38  19  9  10  65  54  11   66
6    7  Wolverhampton Wanderers   38  16  9  13  47  46   1   57
7    8                  Everton   38  15  9  14  54  46   8   54
8    9           Leicester City   38  15  7  16  51  48   3   52
9   10          West Ham United   38  15  7  16  52  55  −3   52

12. Select all rows where 'Pts'>50 and 'Pts'<70

In [10]:
# Show

# Congratulation you have done a good job!