# Intro to Pandas

## Data Alignment

1. Basic Imports

In [3]:
# Imports

### Use the following Data Frames

In [4]:
# First df
df1 = DataFrame(np.arange(4).reshape(2,2),columns=list('AB'),index=['Berlin','Moscow'])

# Show
df1

        A  B
Berlin  0  1
Moscow  2  3

Creation of the second DF

In [5]:
#Second DataFrame
df2 = DataFrame(np.arange(9).reshape(3,3),columns=list('ABC'),index=['Berlin','Moscow','Turin'])

#Show
df2

        A  B  C
Berlin  0  1  2
Moscow  3  4  5
Turin   6  7  8

2. Add the two data frames and fill the NaN values with 10. Use the add() method.

In [7]:
# Add df1 and df2

## Operations betwen a Series and a DataFrame

3. Grab the row with index 1 from the df1 and save it in a new variable named 'ser1'

In [3]:
#Create a Series from DataFrame's 1 row


#Show

4. Subtract ser1 from the df2

In [4]:
# Subtraction

5. Multiply the ser1 to the df2

In [5]:
# Multiply

# The End!