# Intro to Pandas

## Index Hierarchy Exercises

In [1]:
# Standard Imports
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

#### Use the following series

In [2]:
from numpy.random import randn
ser = Series(np.random.randn(8), index=[[1,1,1,1,2,2,2,2],['a','b','c','d', 'a','b','c','d']])

In [3]:
#Show Series with multiple index levels
ser

1  a    0.539818
   b   -0.405591
   c    0.257494
   d    0.934178
2  a    0.684991
   b   -2.028324
   c   -0.215520
   d    1.003896
dtype: float64

1. Print the index of the series

In [4]:
# series index

2. Select the second subsets

In [5]:
# select specific subsets

3. From the second subset select the value of 'c'

In [6]:
# deeper selection

4. Select values of 'b' both from the subset 1 and 2

In [7]:
# Values of b

### Unstack 

5. Convert the series into a data frame

In [9]:
# Unstuck a series into a DF
df = 

#Show
df

6. Reverse the df into a series

In [8]:
# Reverse

### Multi Index DF

#### Use the following df

In [11]:
# Apply multiple level indexing to DataFrames

multy_df = DataFrame(np.arange(24).reshape(4,6),
                    index=[['alfa','alfa','beta','beta'],[1,2,1,2]],
                    columns=[['Madrid','Madrid','New York','New York','Berlin','Berlin'],
                             ['good','bad','good','bad','good','bad']])
                                                   
multy_df

       Madrid     New York     Berlin
         good bad     good bad   good bad
alfa 1      0   1        2   3      4   5
     2      6   7        8   9     10  11
beta 1     12  13       14  15     16  17
     2     18  19       20  21     22  23

7. Give to the index levels the names 'Idx_1' and 'Idx_2' respectivelly.

In [12]:
#Name the index levels

8. Give to the column levels the names 'Cities' and 'Quality' respectivelly.

In [13]:
#Name the column levels

#### Sort Levels

9. Sort the df by the index level 'Idx_2'

In [14]:
# sort levels

# The End! Nice Work!