# Working with Data Part1

## Reading and writing txt files

In [2]:
import pandas as pd

### Reading from a txt file 

The file contains tabular data

In [3]:
myDF = pd.read_csv("../Data/tabular_obj.txt", delim_whitespace=True)
myDF

    wave_l  intensity
0   800,34       2000
1   945,00       2300
2   956,76       2450
3  1023,66       3780

If we don't want to read the header

In [4]:
myDF = pd.read_csv("../Data/tabular_obj.txt", delim_whitespace=True, header=None)
myDF

         0          1
0   wave_l  intensity
1   800,34       2000
2   945,00       2300
3   956,76       2450
4  1023,66       3780

If we want to read a limited number of rows

In [5]:
myDF = pd.read_csv("../Data/tabular_obj.txt", delim_whitespace=True, nrows=3)
myDF

   wave_l  intensity
0  800,34       2000
1  945,00       2300
2  956,76       2450

### Save the file as CSV

In [6]:
#myDF.to_csv("../Data/tabula_obj.csv")