# Untidy dataset

The dataset manipulation we will see are quite complicated, so we will just have a brief look at them, without going in a deep dive.

In [8]:
# lets look at the dataset
import pandas as pd
import numpy as np
df=pd.read_csv('untidy_airquality.csv')
print(df.head())
print(df.columns)

   Month  Day measurement  reading
0      5    1       Ozone     41.0
1      5    2       Ozone     36.0
2      5    3       Ozone     12.0
3      5    4       Ozone     18.0
4      5    5       Ozone      NaN
Index(['Month', 'Day', 'measurement', 'reading'], dtype='object')

In [3]:
df=df.pivot_table(index=['Month', 'Day'], columns='measurement', values='reading')

#del df.index.name
df=df.reset_index()

df.head()

measurement  Month  Day  Ozone  Solar.R  Temp  Wind
0                5    1   41.0    190.0  67.0   7.4
1                5    2   36.0    118.0  72.0   8.0
2                5    3   12.0    149.0  74.0  12.6
3                5    4   18.0    313.0  62.0  11.5
4                5    5    NaN      NaN  56.0  14.3

In [ ]:
# Data set esploration deep dive removed

# Missing values
Now we will see some methods on how to deal with missing values

## Dropping NaN

In [26]:
df = pd.read_csv('airquality.csv')
print(df.head())
print(df.info())

   Ozone  Solar.R  Wind  Temp  Month  Day  Humidity
0   41.0    190.0   7.4  67.0      5    1      20.0
1   36.0    118.0   8.0  72.0      5    2      22.0
2   12.0    149.0  12.6  74.0      5    3      13.0
3   18.0    313.0  11.5  62.0      5    4      32.0
4    NaN      NaN  14.3  56.0      5    5      23.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 7 columns):
Ozone       116 non-null float64
Solar.R     146 non-null float64
Wind        148 non-null float64
Temp        148 non-null float64
Month       153 non-null int64
Day         153 non-null int64
Humidity    23 non-null float64
dtypes: float64(5), int64(2)
memory usage: 8.4 KB
None

In [27]:
# Drop all the rows containing NaN
df_no_na=df.dropna() 
print(df_no_na.head())
print(df_no_na.info())

#What is the problem here?

   Ozone  Solar.R  Wind  Temp  Month  Day  Humidity
0   41.0    190.0   7.4  67.0      5    1      20.0
1   36.0    118.0   8.0  72.0      5    2      22.0
2   12.0    149.0  12.6  74.0      5    3      13.0
3   18.0    313.0  11.5  62.0      5    4      32.0
6   23.0    299.0   8.6  65.0      5    7      56.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 23
Data columns (total 7 columns):
Ozone       17 non-null float64
Solar.R     17 non-null float64
Wind        17 non-null float64
Temp        17 non-null float64
Month       17 non-null int64
Day         17 non-null int64
Humidity    17 non-null float64
dtypes: float64(5), int64(2)
memory usage: 1.1 KB
None

In [30]:
new_df=df.drop(['Humidity'], axis=1)
new_df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4  67.0      5    1
1   36.0    118.0   8.0  72.0      5    2
2   12.0    149.0  12.6  74.0      5    3
3   18.0    313.0  11.5  62.0      5    4
4    NaN      NaN  14.3  56.0      5    5

In [33]:
# using subset you can decide to eliminate rows containing NaN on some columns.
# you should use this for eliminate rows where the target value is omissing.
df_clean_target=new_df.dropna(subset=['Temp'])
df_clean_target.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148 entries, 0 to 152
Data columns (total 6 columns):
Ozone      114 non-null float64
Solar.R    141 non-null float64
Wind       143 non-null float64
Temp       148 non-null float64
Month      148 non-null int64
Day        148 non-null int64
dtypes: float64(4), int64(2)
memory usage: 8.1 KB

In [43]:
# you can decide to mantain the rows where percentage of NaN is low enough
# For example if we decide to maintain only rows with only at least 5 non NaN 
#(so only one NaN for row)
your_threshold=5
 
final_dropped=df_clean_target.dropna(thresh=your_threshold)
final_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 0 to 152
Data columns (total 6 columns):
Ozone      114 non-null float64
Solar.R    140 non-null float64
Wind       142 non-null float64
Temp       145 non-null float64
Month      145 non-null int64
Day        145 non-null int64
dtypes: float64(4), int64(2)
memory usage: 7.9 KB

## Imputing missing values
In case you mantain some missing values, they should be filled
Now we will see some of the simplest methods.

In [36]:
# NEVER, NEVER infer the taget values in this way.
# What I just said? NEVER!

#Let's use simple imputer
df = final_dropped

import numpy as np
from sklearn.impute import SimpleImputer
#print the head of the original dataset
print(df.head())
# create an imputation method
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
# create a new dataframe with the imputed values
imputed=imp.fit_transform(df)

print('\n\n Transformed dataset with the imputed values')
# print the head of the new dataframe
print(imputed[:5])

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4  67.0      5    1
1   36.0    118.0   8.0  72.0      5    2
2   12.0    149.0  12.6  74.0      5    3
3   18.0    313.0  11.5  62.0      5    4
4    NaN      NaN  14.3  56.0      5    5


 Transformed dataset with the imputed values
[[ 41.         190.           7.4         67.           5.
    1.        ]
 [ 36.         118.           8.          72.           5.
    2.        ]
 [ 12.         149.          12.6         74.           5.
    3.        ]
 [ 18.         313.          11.5         62.           5.
    4.        ]
 [ 41.9122807  185.70921986  14.3         56.           5.
    5.        ]]

In [ ]:
#Obviously I can use also the median.
#Try to do it by yourself! (google if necessary)

#.....

### Advanced
Do not execute next cell.

In [5]:
# Home works: As said the best way is to infer the missing values using some better algorythms than
# the mean and the median.
# For example IterativeImputer (that will be in the next release of sklearn) use multiregression.
# At the end of this course you will be able to use even more sofisticated methods!

# For this we need last versions of
%pip install --pre -f https://sklearn-nightly.scdn8.secure.raxcdn.com scikit-learn
    

import sklearn
import pandas as pd
print(sklearn.__version__)

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

df = pd.read_csv('airquality.csv')


imp = IterativeImputer(max_iter=4, random_state=0)
imputed=imp.fit_transform(df)
imputed[:5]
#df.columns

Looking in links: https://sklearn-nightly.scdn8.secure.raxcdn.com
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.7/site-packages (0.21.3)
Requirement already satisfied: scipy>=0.17.0 in /opt/conda/lib/python3.7/site-packages (from scikit-learn) (1.2.1)
Requirement already satisfied: numpy>=1.11.0 in /opt/conda/lib/python3.7/site-packages (from scikit-learn) (1.15.4)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.7/site-packages (from scikit-learn) (0.14.0)
Note: you may need to restart the kernel to use updated packages.
0.21.3

array([[ 41.        , 190.        ,   7.4       ,  67.        ,
          5.        ,   1.        ],
       [ 36.        , 118.        ,   8.        ,  72.        ,
          5.        ,   2.        ],
       [ 12.        , 149.        ,  12.6       ,  74.        ,
          5.        ,   3.        ],
       [ 18.        , 313.        ,  11.5       ,  62.        ,
          5.        ,   4.        ],
       [-12.26562908, 141.91026653,  14.3       ,  56.        ,
          5.        ,   5.        ]])

# Use a pipeline
As told the best practice is to use a pipeline. 

And automate all the process as much as you can.

In [ ]:
# Example on how to create a pipeline for the numerical columns
#split the dataset in tran and test
df_train=new_df.sample(frac=0.8,random_state=200) #random state is a seed value
df_test=new_df.drop(df_train.index)

#

In [76]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer 
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler 
# simple imputer step
num_si_step = ('si', SimpleImputer(strategy='mean'))
# standard scaler step.... I am presenting here just to see how everything can be combined
num_ss_step = ('ss', StandardScaler())
# combine all the numerical steps
num_steps = [num_si_step, num_ss_step] 
# create the pipeline for the numerical steps
num_pipe = Pipeline(num_steps)
# define the numerical columns that you want to process with the pipeline
num_cols=['Ozone', 'Solar.R', 'Temp', 'Wind']
# create the parameter list for the function
num_transformers = [('num', num_pipe, num_cols)]
# create the processing function
ct = ColumnTransformer(transformers=num_transformers)
# impute and transform the numerical columns you defined and store in X_num_transformed
X_num_transformed = ct.fit_transform(df_train)
# X_num_transformed is now a matrix, no more a dataframe
# Now we have to substitute the transformed column into the original dataset
df_train_clean=df_train
df_train_clean[num_cols]=X_num_transformed
df_train_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 48 to 123
Data columns (total 6 columns):
Ozone      122 non-null float64
Solar.R    122 non-null float64
Wind       122 non-null float64
Temp       122 non-null float64
Month      122 non-null int64
Day        122 non-null int64
dtypes: float64(4), int64(2)
memory usage: 6.7 KB

In [78]:
X_num_transformed=ct.transform(df_test)
df_test_clean=df_test
df_test_clean[num_cols]=X_num_transformed
df_test_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 1 to 150
Data columns (total 6 columns):
Ozone      31 non-null float64
Solar.R    31 non-null float64
Wind       31 non-null float64
Temp       31 non-null float64
Month      31 non-null int64
Day        31 non-null int64
dtypes: float64(4), int64(2)
memory usage: 1.7 KB

### Categorical variables

In [55]:
#Let's create an other toy dataset
df = pd.DataFrame({'Martial art': ['Kung_Fu', 'Box', 'Tai_chi', 'Karate', 'Wing-Chu','Capoeria'],
                   'Kicks': ['Yes','No' , 'NA', 'Yes', 'NA','Yes'],
                   'Aerial': ['Yes', 'No','No', 'Few', 'Few', 'Yes']})


df

  Martial art Kicks Aerial
0     Kung_Fu   Yes    Yes
1         Box    No     No
2     Tai_chi    NA     No
3      Karate   Yes    Few
4    Wing-Chu    NA    Few
5    Capoeria   Yes    Yes

In [56]:
# Impute missing values with constant 
imp = SimpleImputer(missing_values='NA', strategy='constant',
                   fill_value='MISSING')
imputed=imp.fit_transform(df)

imputed

array([['Kung_Fu', 'Yes', 'Yes'],
       ['Box', 'No', 'No'],
       ['Tai_chi', 'MISSING', 'No'],
       ['Karate', 'Yes', 'Few'],
       ['Wing-Chu', 'MISSING', 'Few'],
       ['Capoeria', 'Yes', 'Yes']], dtype=object)

In [58]:
# imputing missing values with most frequent values
imp = SimpleImputer(missing_values='NA', strategy="most_frequent")
imputed=imp.fit_transform(df)
imputed

array([['Kung_Fu', 'Yes', 'Yes'],
       ['Box', 'No', 'No'],
       ['Tai_chi', 'Yes', 'No'],
       ['Karate', 'Yes', 'Few'],
       ['Wing-Chu', 'Yes', 'Few'],
       ['Capoeria', 'Yes', 'Yes']], dtype=object)

In [ ]:
# HOME WORK/COMPETITION:
# I will provide you a dataset with missing values both
# numerical and categorical.
# You should create a data cleaning pipeline and a ML algorithm.
# I will write a "certificate" for all the people that are able to do it.
# I will write a special one for the best result.

# PS: all the pipeline should run on a normal PC, not a giant cluster :P