# for Loops

## Exercises

General format for a **for** loop in Python:

    for item in object:
        statements to do stuff

1. Create a list from 1 to 6. Loop over the list and print every value

In [1]:
# list


# loop

2. Use the list you have created at point 1, loop over it and print the squared value of every element

3. Create a list of 4 strings, loop over the list and print the string together with his length.  
 * E.g: *string:length*
 
**Mandatory:** One string length must be = 5

In [1]:
# list of strings

# loop

3. Use the list you have created at point 3. Loop over it and print whether the string is >5, <5 or equal to 5.

## Iterating by sequence index

4. Use the following list. Loop over it and print every element using the "indexing" method. The output should be:
 * *The animal is: animal name*

In [3]:
animals = ['cat', 'dog',  'cow', 'horse','goat']

# loop


### Modulo
The modulo allows us to get the remainder in a division and uses the % symbol.

5. Craete a list in range from 1 to 12, loop over it and print out whether a number is equal or odd.

In [4]:
# list

# loop

6. Use the list below, loop over it and print out the sum of every number. Remember, use a counter outside the loop.

In [5]:
# list
w = [10,20,30,40,50]

# counter

# loop

7. Use the two lists below, loop throug both of them and print out whether the sum of the couple of variable is odd or equal.

In [10]:
# lists
w = [1,2,3,4]
z = [1,2,3,4]

# loops

8. Use the list of tuple below, loop over it and print every single tuple.

In [11]:
# tuple list
t_list = [(5,4),(4,7),(8,10)]

# loop

9. Loop over the list below and print the sum of the **first + second + third** element of every tuple. **Hint:** Tuple unpacking

In [12]:
# loop

10. Loop over the dictionary below and print both key and value

In [29]:
dz = {'key1':88,'key2':23,'key3':72, 'key4':66}

In [13]:
# dict loop

11. Loop the **dz** dictionary and print out only the values.

In [14]:
# loop

11. Use the **dz** dictionary and the **t_list**. Loop throug both of them and print out the sum of every value of the dictionary with the first element of the tuple.

In [16]:
dz = {'key1':88,'key2':23,'key3':72, 'key4':66}
t_list = [(5,4),(4,7),(8,10)]

In [18]:
# loop

# Congratulation! You did a nice work!