# Built-in Functions

The Python interpreter has a number of functions and types built into it that are always available.

We already used some of those function, let's explore deeper some of them.

In [1]:
import webbrowser
url = 'https://docs.python.org/3/library/functions.html'
webbrowser.open(url)

True

## all()
Return True if all elements of the iterable are true (or if the iterable is empty).

In [2]:
all([True, False])

False

In [3]:
all([5<10, 1<3])

True

This is equivalent to:

In [4]:
# my own function
def my_all(iterable):
    for el in iterable:
        if not el:
            return False
    
    return True

In [7]:
my_all([5<10, 1<3])

True

## list()

It create an empthy list or a full list from iterable objects.

In [8]:
w = list()
w

[]

In [9]:
z = list('hello')
z

['h', 'e', 'l', 'l', 'o']

In [10]:
y = list((1,2,3,4))
y

[1, 2, 3, 4]

## sorted()
Return a new sorted list from the items in iterable.

In [11]:
sorted(z)

['e', 'h', 'l', 'l', 'o']

In [13]:
sorted(y, reverse=True)

[4, 3, 2, 1]

## set()
Return a unique set of objects inside an iterable

In [14]:
set(z)

{'e', 'h', 'l', 'o'}

Find intersections between iterable objects

In [20]:
set('ciao').intersection(set('cosimo'))

{'c', 'i', 'o'}

## range()

It allows to create a list of integer numbers within a specific range.

In [15]:
lst = [0,1,2,3,4]

for el in lst:
    print(el)

0
1
2
3
4

Using range:

In [13]:
range(2,5)

range(2, 5)

In [15]:
for el in range(2, 5):
    print(el)

2
3
4

## enumerate()

It allows us to loop over an itearable object and have an automatic counter.

It associate a number to every object encoutered.

In [21]:
lst = ['apple', 'banana', 'grapes', 'pear']

enumerate(lst)

In [22]:
# it create a list of tuple
list(enumerate(lst))

[(0, 'apple'), (1, 'banana'), (2, 'grapes'), (3, 'pear')]

Like tuple unpacking

In [23]:
lst = ['apple', 'banana', 'grapes', 'pear']

for counter, value in enumerate(lst):
    print('The index is {} and the value is {}'.format(counter, value))

The index is 0 and the value is apple
The index is 1 and the value is banana
The index is 2 and the value is grapes
The index is 3 and the value is pear

In [25]:
lst = ['apple', 'banana', 'grapes', 'pear']

# we can change the start number
for counter, value in enumerate(lst, 100):
    print(counter, value)

100 apple
101 banana
102 grapes
103 pear

## zip()

It aggregates elements from two or more iterable objects.

In [2]:
a = [10, 20, 30, 40]
b = ['I', 'Love', 'Surfing']
c = [1,2,3,4]

zipped = zip(a, b, c)

In [3]:
# we have a list of tuple
lst = list(zipped)

In [4]:
for el in lst:
    print(el)

(10, 'I', 1)
(20, 'Love', 2)
(30, 'Surfing', 3)

Notice that the zipped object get the max lenght from the shorter list.

# No execise for this lesson...

In [5]:
def blub():
    """
    
    """
    print('y')

In [6]:
x = blub()

y

In [11]:
def prime(number):
    if number > 2 and number % 2 ==0:
        return False
    if number < 2:
        return False
    else:
        return True

In [12]:
prime(15)

True