# Working with DataFrames Part3

## Cross Tabulation

This will be a quick lesson on cross-tabulations, which are basically a special case of pivot-tables.

In [1]:
# Imports
import pandas as pd

Dataframe creation

In [3]:
# df creation
df = pd.DataFrame({'sample':[1,2,3,4,5,6],
                    'sex':['male', 'male','female','female','male','female'],
                    'diagnosis':['Positive','Positive','Negative','Positive','Negative','Negative']})

In [4]:
# Show
df

  diagnosis  sample     sex
0  Positive       1    male
1  Positive       2    male
2  Negative       3  female
3  Positive       4  female
4  Negative       5    male
5  Negative       6  female

### Cross-Tabulation
#### The crosstab() method
A cross-tabulation table is basically a frequency table.

In [5]:
# crosstab(index, columns, margins=False, margins_name='All')

pd.crosstab(df.sex, df.diagnosis, margins=True, margins_name='Total')

diagnosis  Negative  Positive  Total
sex
female            2         1      3
male              1         2      3
Total             3         3      6

### That's all about cross tabulation!